---
port: <%= env_port %>
chdir: "/app/indieauth.com"
environment: development
address: 0.0.0.0
timeout: 30
log: "/app/indieauth.com/log/thin.log"
pid: tmp/pids/thin.pid
max_conns: 1024
max_persistent_conns: 100
require: []
wait: 30
threadpool_size: 20
daemonize: false
